@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;...&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

body {
  background-color: black !important;
  color: white !important;
}

h1,
h3 {
  font-family: "Lilita One", sans-serif;
}

/* Main Layout */

.main-layout {
  min-height: 100vh;
}

.main {
  flex: 1;
}

.header {
  height: 70px;
  background-color: #2f2e44;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header a {
  color: white;
  font-size: large;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.header a:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.line {
  height: 2px;
  width: 0;
  background-color: white;
  animation: growLine 0.3s ease forwards;
}

@keyframes growLine {
  from {
    width: 0;
  }
  to {
    width: 100px;
  }
}

/* Movie Card */

.movie-card {
  border-radius: 15px !important;
  background-color: #2f2e44 !important;
}

.movie-card-top {
  position: relative;
}

.movie-card img {
  border-radius: 15px 15px 0 0;
  height: 250px;
  object-fit: cover;
}

.movie-img-floater {
  position: absolute;
  color: white;
  bottom: 0;
  left: 10px;
  padding: 5px 10px;

  background-color: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid white;
  border-radius: 15px;
}

.movie-img-floater img {
  width: 50px;
  height: 100%;
}

.movie-card-body {
  background-color: transparent;
  color: white !important;
  padding: 15px;
}

.movie-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}

.movie-name:hover {
  overflow: visible;
  white-space: normal;
  text-overflow: clip;
  transition: all 0.5s ease;
}

.movie-card-btn {
  background: transparent;
  border: none;
  padding: 0;
}

/* Movie Form */
::placeholder {
  color: white !important;
  opacity: 0.5 !important;
}

/* Statistics */

.stats-card {
  width: 300px;
  padding: 30px;
  border-radius: 20px;
  background-color: #2f2e44;
}

.stats-card p {
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

/* Genre Card */

.genre-card {
  flex: 1;
}

.genre-card p {
  background-color: #403f5b;
  font-family: "Courier New", Courier, monospace;
}

/* Error Page */
.error-page img {
  margin-left: 100px;
}

.error-page p {
  font-size: 50px;
}

/* Developing Page  */

.dev-page {
  padding: 78px;
}

.dev-page img {
  width: 70vh;
  margin-right: 30px;
}

.dev-page p {
  font-family: "Kanit", sans-serif;
  font-size: 42px;
}

/* Footer  */

.footer {
  background-color: #2f2e44;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
